@media screen and (max-width: 1199px){

    .container {
        width: 960px;
    }

    .main {
        .container {
            position: relative;
            column-gap: 0;
        }

        img {
            :nth-child(2) {
                width: 50%;
                height: 50%;
            }
        }

        &__offer {
            margin-top: 0;
        }
    }

    .plan__variety {
        .wrap {
            width: 295px; 
    
            &.premium {
                width: 340px;
            }
        }
    }

    .btn.btn_reg {
        width: 280px;
    }
}
  
  @media screen and (max-width: 991px){

    .container {
        width: 720px;
    }

    .header {
        margin-bottom: 70px;

        &__logo {
            transform: scale(0.8);
        }

        .burger-menu {
            display: block;
            pointer-events: all;
            z-index: 2;
            cursor: pointer;

            .menu-button {
                transition: all 0.5s ease;

                &.active {
                    content: url('../img/Close.svg');
                    transform: rotate(180deg);
                }
            }

            input {
                display: none;
            }
        }

        &__menu {
            content: '';
            opacity: 0;
            position: absolute;
            height: 100vh;
            width: 100%;
            background: #fff;
            top: 0;
            padding-top: 20px;
            left: -100%;
            transition: all 0.5s ease-in-out;
            display: flex;
            align-items: flex-start;
            z-index: 1;
            
            &.active {
                opacity: 1;
                left: 0;
                pointer-events: all;
            }

            &_fixed {
                width: 100%;
                height: 100vh;
                background: #fff;
                flex-direction: column;
                transition: all 0.5s ease-in-out;
                padding-left: 54px;
                padding-top: 72px;
            }

            a {
                font-size: 24px;
                line-height: 31px;
                color: #000;
                border-bottom: none;

                &.active {
                    border-bottom: none;
                }
            }


        }
    }

    .btn {
        &.btn_orange {
            width: 345px;
            position: absolute;
            opacity: 1;
            pointer-events: none;
            z-index: 1;
            bottom: 58px;
            left: -100%;
            transition: all 0.5s ease-in-out;

            &.active {
                opacity: 1;
                left: 50%;
                transform: translate(-50%);
                pointer-events: all;
            }
        }

        &.btn_reg {
            width: 305px;
        }
    }

    .main {
        .container {
            flex-direction: column-reverse;
            row-gap: 10px;
        }

        &__offer {
            width: 100%;
            margin: 0 auto;

            p {
                margin-top: 22px;
                margin-bottom: 36px;
                line-height: 26px;
            }

            div {
                display: flex;
                justify-content: center;
            }
        }

        img {
            :nth-child(2) {
                position: static;
                width: 70%;
                height: 70%;
                margin: 0 auto;
            }
        }
    }

    .partners {
        .container {
            overflow-x: auto;
            column-gap: 60px;
        }
    }

    .sub {
       .container {
            row-gap: 165px;
       } 

       &__item {
            flex-direction: column;

            &.reverse {
                flex-direction: column;
            }

            img {
                width: 50%;
                margin: 0 auto
            }
       }

       &__text {
            width: 100%;
            margin: 50px auto 0;
       }
    }

    .features {
        .container {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            row-gap: 85px;
        }
    }

    .plan {
        &__head {
            flex-direction: column;
            row-gap: 30px;

            h1 {
                width: 100%;
                font-size: 50px;
                text-align: center;
            }
        }

        &__variety {
            flex-direction: column;
            justify-content: center;
            row-gap: 16px;

            .wrap {
                width: 345px;
                height: 386px;

                &.premium {
                    width: 345px;
                    height: 386px;
                    padding-top: 0;
                }
            }

            h1 {
                font-size: 41px;
                letter-spacing: -1px;
                margin-bottom: 18px;
            }

            p {
                &:first-child {
                    font-size: 16px;
                    margin-bottom: 9px;
                }

                &:not(:first-child) {
                    line-height: 42px;
                    font-size: 14px;
                }
            }
        }
    }
  }
  
  @media screen and (max-width: 767px){
    .container {
        width: 540px;
    }
    
    .features {
        .container {
            margin-bottom: 193px;
        }
    }

  }
  
  @media screen and (max-width: 575px){
    .container {
        width: 100%;
        padding: 0 15px;
    }

    h1{
        font-size: 57px;
        line-height: 66px;
    }

    p {
        font-size: 18px;
    }

    .header {
        margin-bottom: 64px;
    }

    .main {
        img {
            &:nth-child(2) {
                width: 316px;
                height: 333px;
                margin: 0 auto;
            }
        }
    }

    .partners {
        .container {
            margin-top: 150px;
            margin-bottom: 173px;
        }
    }

    .sub {
        .item {
            img {
                width: 60%;
            }
        }

        &__text {
            h2 {
                font-size: 35px;
            }

            p {
                margin-top: 10px;
            }
        }
    }

    .learn-link {
        font-size: 18px;
    }
    
    .plan {
        .container {
            width: 100%;
        }

        &__head {
            row-gap: 16px;

            h1 {
                font-size: 40px;
                line-height: 52px;
                width: 100%;
            }
        }
    }

    .btn_reg {
        width: 300px;
        margin: 18px auto;
    }

  }
  