* {
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	padding: 0;
	color: black;
	line-height: 30px;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 400;

    &.stop_scroll {
        overflow: hidden;
    }
}

h1{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
}

h2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
}

h3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

p {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #696871;
}

.container {
    width: 1075px;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 211px;
    height: 60px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: white;
    border-radius: 10px;

    &_orange {
        background-color: #FF7143;
    }

    &_blue {
        background-color: #5454D4;
    }

    &.btn_reg {
        width: 305px;
        background-color: white;
        border: 1px solid #EAE9F2;
        color: #5454D4;
        margin: 36px auto;

        &.prem {
            background-color: #9F3919;
            border: #9F3919;
        }
    }
}

.header {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 100px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger-menu {
        display: none;
        // right: 20px;
        pointer-events: none;
    }

    &__menu {
        display: flex;
        // gap: 49px;
        position: relative;
        align-items: center;

        &_fixed {
            display: flex;
            gap: 49px;
            
            a {
                font-size: 15px;
                color: #696871;
                margin-top: 2px;
                border-bottom: 2px solid #fff;
    
                &.active {
                    color: black;
                    border-bottom: 2px solid #5454D4;
                }
            }
        }
    }
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 344px;
    height: 65px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: #F7F7FB;
    border-radius: 10px;

    &__switch {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 55px;
        color: black;
        border-radius: 0 10px 10px 0;

        &.active {
            background: #5454D4;
            color: #fff;
            border-radius: 10px 0 0 10px;
        }
    }
}

.main {
    .container {
        display: flex;
        justify-content: space-between;
        column-gap: 74px;
    }

    &__offer {
        width: 460px;
        margin-top: 92px;

        p {
            margin-top: 30px;
            margin-bottom: 50px;
           }

        div {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        .scroll-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid #E7E7E7;
        }
    }
    
}

.partners {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
        margin-bottom: 150px;
    }
}


.sub {
    .container {
        display: flex;
        flex-direction: column;
        row-gap: 83px;
    }

    img {
        object-fit: contain;
    }

    &__item {
        display: flex;
        justify-content: flex-start;
        column-gap: 165px;

        &.reverse {
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
    }
    
    &__text {
        width: 462px;
        margin-top: 122px; 

        p {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    .learn-link {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 17px;
        color: #5454D4;
    }
}

.features {
    .container {
        display: flex;
        justify-content: space-between;
        margin-top: 168px;
        margin-bottom: 150px;
    }

    img {
        width: 151px;
        height: 97px;
        margin-bottom: 7px;
    }

    &__item {
        width: 307px;
        text-align: center;
    }

    p {
        font-size: 16px;
        letter-spacing: -0.5px;
        margin-top: 20px;
    }
}

.plan {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 82px;

        h1 {
            font-size: 60px;
            letter-spacing: -1.87px;
            line-height: 70px;
            width: 523px;
        }
    }

    &__variety {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .wrap {
            border-radius: 10px;
            text-align: center;
            width: 330px;
            height: 441px;
            background: #F8F8F8;

            &:not(:first-child) {
                h1:after {
                    content: "/month";
                    font-size: 28px;
                    line-height: 28px;
                }
            }

            &.premium {
                width: 376px;
                height: 473px;
                background: #FF7143;
                padding-top: 16px;

                * {
                    color: #fff;
                }

                p {
                    :first-child {
                        color: rgba(255, 255, 255, 0.7);;
                    }
                }
            }
        }

        h1 {
            font-size: 60px;
            letter-spacing: -1.9px;
            color: #1D293F;
            margin-bottom: 28px;
            line-height: 56px;
        }

        p {
            &:first-child {
                margin-top: 34px;
                font-family: 'DM Sans', sans-serif;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 22px;
            }

            &:not(:first-child) {
                line-height: 50px;
                font-size: 17px;
            }
        }
    }
}