* {
	box-sizing: border-box;
	text-decoration: none;
}

body {
    font-family: 'Hind Siliguri';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-size: 44px;
    font-weight: 600;
    color: #030D15;
    line-height: 73px;
}

h1 mark {
    font-weight: 600;
    background-color:#EAF2F9;
    color: #247CC0;
    display: inline-block;
    width: 484px;
}

h2 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #C72535;
    opacity: 0.6;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #030D15;
    opacity: 0.6;
    line-height: 27px;
}

a {
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: 58px;
    font-weight: 600;
    background-color: #247CC0;
    color: #FFF;
    text-transform: uppercase;
}

.price {
    font-weight: 500;
    font-size: 16px;
    color: #030D15;
    opacity: 1;
}

.price span:before {
    content: url(../img/slash.svg);
    position: relative;
    margin-left: -3px;
    margin-right: 3px;
    top: 2px;
}

.price .price-sale {
    margin-left: 8px;
    font-weight: 300;
    font-size: 14px;
    color: #030D15;
    opacity: 0.5;
    text-decoration: line-through;
}

.rating {
    display: flex;
    justify-items: flex-start;
    column-gap: 0.77px;
}

.rating svg.active path{
    fill: #C72535;
}

/* HEADER */

.header .container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.header__menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    display: flex;
}

.header__menu a:not(:last-child)::after {
    content: url(../icons/arrow.svg);
    margin-top: -1px;
    margin-left: 8px;
}

.header__actions {
    display: flex;
    column-gap: 13px;
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon_user {
    background-color: #F4F9FC;
}

.icon__count {
    position: absolute;
    top: 7px;
    right: 5px;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #C72535;
    border-radius: 50%;
    font-size: 10px;
}


/* FAVOURITE BRANDS */


.favour .container{
    display: flex;
    justify-content: space-between;
    column-gap: 28px;
    margin-top: 55px;
}

.favour__txt h1 {
    font-weight: 400;
    font-size: 61px;
    line-height: 73px;
    margin-bottom: 30px;
}

.favour__txt h2 {
    width: 555px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 3px;
    margin-top: 75px;
}

.favour__txt p {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 36px;
}

.favour__buy {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 30px;
}

.favour__buy .price {
    font-size: 20px;
}

.favour__buy .price span{
    font-size: 16px;
}


/* BRANDS */


.brands .container {
    height: 237px;
    box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 84px;
}

/* OFFER */

.offer .container {
    display: flex;
    justify-content: space-between;
    margin-top: 132px;
    margin-bottom: 160px;
}

.offer__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.offer__item__img {
    position: relative;
    width: 250px;
    height: 250px;
}

.offer__item__img img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offer__item__add-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #F3F3F3;
    position: absolute;
    top: -22px;
    right: -22px;
}

.offer__item__txt {
    width: 256px;
}

.offer__item__txt h1 { 
    font-size: 25px;
    line-height: 40px;
}

.offer__item__txt p {
    font-size: 14px;
    line-height: 21px;
    margin-top: 9px;
    margin-bottom: 20px;
}

/* TODAY-SALE */

.today-sale .container{
    display: flex;
    justify-content: space-between;
}

.today-sale__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 555px;
    height: 296px;
    background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 35px;
}

.today-sale__item img{
    position: absolute;
    top: 30px;
}

.today-sale__item__left {
    transform: rotate(30deg);
    right: 8px;
}

.today-sale__item__right {
    transform: rotate(-15deg);
    margin-top: 36px;
    right: 30px;
}

.today-sale__item__txt {
    margin-top: 40px;
    width: 280px;
    color: #F4F9FC;
    text-transform: uppercase;
}

.today-sale__item__txt h1{
    font-size: 31px;
    line-height: 40px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.today-sale__item__txt h2{
    font-size: 16px;
    line-height: 27px;
    color: #F4F9FC;
    letter-spacing: 0;
}

/* ABOUT-INFO */

.about-info {
    background: url(/img/about_back.svg);
    background-repeat: repeat-x;
    background-position: bottom;
}

.about-info .container{
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}

.masked {
    -webkit-mask-image: url(/img/img-mask.svg);
    width: 646px;
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-left: -95px;
}

.masked img:not(:last-child){
    margin-left: 80px;
    margin-top: 60px;
}

.masked__back {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.about-info__txt {
    width: 457px;
    margin-top: 114px;
}

.about-info__txt h1 {
    margin-bottom: 115px;
    font-size: 44px;
    line-height: 71px;
}

.about-info__txt p {
    margin-bottom: 25px;
    line-height: 24px;
}

.about-info__txt ul {
    margin-top: 40px;
}

.about-info__txt li {
    width: 350px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
}

.about-info__txt li::before{
    position: absolute;
    content: url(../icons/check.svg);
    margin-left: -31px;
    margin-top: 4px; 
}

/* POPULAR */

.popular .container {
    display: flex;
    flex-direction: column;
    margin-top: 125px;
}

.popular__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular__heading h1 {
    margin-bottom: 22px;
    line-height: 71px;
}

.popular__filter {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-bottom: 50px;
}

.popular__filter button {
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: #030D15;
    letter-spacing: 0.15em;
    opacity: 0.6;
}

.popular__filter button:nth-of-type(1) {
    color: #C72535;
}

.popular__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 56px;
}

.popular__item {
    width: 360px;
    height: 503px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}

.popular__item p{
    opacity: 1;
}

.popular__item__top {
    height: 343px;
    width: 100%;
    padding: 35px;
}


.img-container {
    width: 288px;
    height: 288px;
}

.img-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.popular__item:hover {
    border: 1px solid #fff;
    box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198), 0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275), 0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035), 0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725), 0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
}

.popular__item__bottom {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 160px;
    width: 100%;
    padding: 35px;
    position: relative;
    transition: all .3s ease;
}

.popular__item:hover .popular__item__bottom {
    background-color: #FAFAFA;
}

.popular__item__bottom h1{
    font-size: 25px;
    line-height: 40px;
    transition: all .2s ease;
}

.popular__item:hover .popular__item__bottom h1 {
    opacity: 0;
    pointer-events: none;
}

.popular__item__manipulation {
    opacity: 0;
    width: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    position: absolute;
    left: 35px;
    top: 35px;
    transition: all .3s ease;
}

.popular__item:hover .popular__item__manipulation {
    opacity: 1;
    pointer-events: all;
}

.popular__item__bottom .price {
    margin-bottom: 7px;
    transition: all .3s ease;
}

.popular__item:hover .price {
    margin-bottom: 0px;
}

.popular__item__bottom .rating svg {
    width: 16px;
    height: 15px;
    transition: all .3s ease;
}

.popular__item:hover .rating svg {
    width: 13px;
    height: 12px;
}

.select-color {
    position: absolute;
    right: 35px;
    bottom: 35px;
    display: flex;
    column-gap: 20px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}

.select-color label:nth-of-type(1) {
    background-color: #C3D7E6;
}

.select-color label:nth-of-type(2) {
    background-color: #15151D;
}

.select-color label:nth-of-type(3) {
    background-color: #2F80ED;
}

.popular__item:hover .select-color {
    opacity: 1;
    pointer-events: all;
}

.select-color label {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
}

.select-color input {
    display: none;
}

.select-color input:checked + label::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px solid #030D15;
    position: absolute;
    transform: translate(-15%, -15%);
}

.popular__expand {
    display: flex;
    justify-content: center;
}

.popular__expand a {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 130px;
    font-weight: 600;
}

.popular__expand a::after {
    content: url(/icons/arrow-right.svg);
    margin-left: 10px;
}


/* NEW-SHOP */
/*попытка в grid*/

.new-shop__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.new-shop__heading p {
    width: 457px;
    text-align: center;
}

.new-shop__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 60px;
    grid-gap: 30px;
    margin-bottom: 130px;
}

.small {
    grid-row: span 3;
}

.medium {
    grid-row: span 4;
}

.big {
    grid-row: span 5;
}

.new-shop__item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    width: 360px;
}

.new-shop__item:hover {
    border: 1px solid #fff;
    box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198), 0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275), 0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035), 0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725), 0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
}

.new-shop__item:hover .new-shop__item__manipulation {
    opacity: 1;
    pointer-events: all;
}

.new-shop__item > img {
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
}

.new-shop__item__top{
    width: 100%;
    height: 110px;
    padding: 35px;
    
    transition: all .3s ease;
    opacity: 0;
    pointer-events: none;
}

.new-shop__item__bottom {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    transition: all .3s ease;
}

.new-shop__item:hover .new-shop__item__top {
    background: linear-gradient(180deg, #FAFAFA 0%, #FAFAFA 68.84%, rgba(250, 250, 250, 0) 100%);
    opacity: 1;
    pointer-events: all;
}

.new-shop__item:hover .new-shop__item__bottom {
    background: linear-gradient(0deg, #FAFAFA 0%, #FAFAFA 68.84%, rgba(250, 250, 250, 0) 100%);
}

.new-shop__item__manipulation {
    opacity: 0;
    width: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    position: absolute;
    left: 35px;
    bottom: 26px;
    transition: all .3s ease;
}

/* CONTACT */

.contact {
    background-color: #F4F9FC;
}

.contact .container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact__txt {
    width: 355px;
}

.contact__txt h1 {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 8px;
}

.contact__txt p {
    font-size: 14px;
    line-height: 21px;
}

.contact__input {
    display: flex;
    align-items: center;
}

.contact__input input{
    width: 457px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 26px;
}

.contact__input .btn {
    width: 122px;
    height: 50px;
    font-size: 14px;
}

/* FOOTER */

.footer {
    background-color: #030D15;
    color: #fff;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 75px;
    padding-bottom: 56px;
}

.footer__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
    max-width: 260px;
}

.footer__column h1 {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 9px;
}

.footer__column a {
    font-weight: 400;
    line-height: 23px;
    opacity: 0.6;
}

.footer__column p {
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    opacity: 0.6;
}

.footer__column img:first-of-type {
    margin-bottom: 22px;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 25px;
    opacity: 0.6;
    margin-bottom: 15px;
}

.footer__column .footer__lang-changer {
    color: #fff;
}

.footer__lang-changer:before {
    content: url(/icons/lang.svg);
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.footer__lang-changer:after {
    content: url(/icons/lang-arrow.svg);
    margin-left: 4px;
}